[2021-06-13 09:52] dromer opened #4 "debian stable SIMD build fails + GUI crashes with ”Next frame: Outdated”"
Installed the nightly cargo toolchain. build went fine until:

[code]

[2021-06-13 13:04] greatest-ape commented on #4
@dromer Thanks for opening this issue. I'm looking into it.

If you want to get the plugin working in the meantime, please try compiling it without sleef SIMD acceleration:

`cargo build --release -p octasine_vst2_plugin`

[2021-06-13 13:24] dromer commented on #4
Cool, that seems to build.

Where is the resulting VST2 though, is it `135M Jun 13 15:18 liboctasine.so`?
This seems awfully big.

Carla is able to load the DSP, however the UI segfaults when I try to open it.

[2021-06-13 15:09] greatest-ape commented on #4
Great.

Yes, that should be the correct file. I'll look into the huge file size. The reason might be the inclusion of debug symbols, but I don't know for sure.

Could you please paste the contents of "$HOME/tmp/OctaSine.log" after trying to open the UI?

[2021-06-13 18:16] greatest-ape commented on #4
Does running `git pull` and compiling again make `liboctasine.so` smaller? I turned off generation of debug symbols. The file is about 16 MB when built on Ubuntu by the CI system after that change.

Also, does running `git checkout update-sleef` and recompiling with simd support fix the original compilation failure?

[2021-06-13 19:50] dromer commented on #4
- Logfile: https://mrtoasted.com/~dreamer/logs/OctaSine.log

- Now it's `9.6M Jun 13 21:45 liboctasine.so` which indeed seems more reasonable :) (still segfaulting)

- `sleef-sys` still fails to build in this branch

[2021-06-14 04:04] greatest-ape commented on #4
Thanks.

It seems like the UI segfault is the error described here: https://github.com/hecrj/iced/pull/667 . The OctaSine UI unfortunately isn’t very battle tested and errors like these tend to pop up.

OK, thanks for trying. I’ll have to look into that further.

[2021-06-14 09:16] greatest-ape commented on #4
Pasting most relevant part of your log for future reference:

[code]

[2021-06-14 20:16] greatest-ape commented on #4
I pushed another commit to `update-sleef` to disable AVX-512 in sleef. Building on Debian 10 works on my computer even without this fix, but my processor isn't AVX-512-compatible, so I figure that could be the reason why it fails for you. Anyway, if you could try out building once more, that would be great.

[2021-06-17 13:05] bird0912 opened #10 "UI labels doesn't display"
In OctaSine 0.5.1 the labels of the user interface doesn't appear. The other elements are fine, it's just the texts that are missing.
Windows 10 inside Reaper 6 DAW. The problem is immediate from the loading of the VST.
[OctaSine.log](https://github.com/greatest-ape/OctaSine/files/6670376/OctaSine.log)

[2021-06-17 17:23] greatest-ape commented on #10
Thanks. That's very strange. Do parameter values appear? Could you please attach a screenshot? Also, could you please try with version 0.5.0 and see if it works?

[2021-06-17 19:20] bird0912 commented on #10
Of course! Yes, parameter values doesn't appear either:
![OctaSine UI Bug](https://user-images.githubusercontent.com/35444613/122459998-35774980-cf77-11eb-88ff-b315ce8574fe.png)

[2021-06-17 19:27] bird0912 commented on #10
In version 0.5.0 the texts doesn't appear either. If any other help is needed I gladly will contribute :D

[2021-06-17 19:53] greatest-ape commented on #10
Thanks!

I found this iced issue which looks very similar: https://github.com/hecrj/iced/issues/537 . In your screenshot, I noticed that the modulation matrix doesn’t render properly. Canvas rendering issues seem to be present in the linked issue as well. Do you also happen to use an AMD integrated GPU?

[2021-06-17 20:45] greatest-ape commented on #10
One thing that you could do is to build and run https://github.com/hecrj/iced/tree/master/examples/bezier_tool and check if text is missing there too. Would you know how to do that?

[2021-06-17 21:54] bird0912 commented on #10
Yes! I'm using an AMD integrated GPU. I will check if I can build the bezier tool :B

[2021-06-18 14:14] greatest-ape commented on #10
In that case, I think it’s reasonable to assume that the issue is the same, so you don’t really have to go through the trouble :-)

I can try to build a copy of octasine without anti aliasing for you. It probably won’t look so great, but at least the text should be visible.

[2021-06-18 19:16] bird0912 commented on #10
Oh wow, that's great news!!! Thank you very much :D

[2021-06-20 08:35] greatest-ape commented on #10
Please try this: [OctaSine-v0.5.1-Windows-No-Anti-Aliasing.zip](https://github.com/greatest-ape/OctaSine/files/6681941/OctaSine-v0.5.1-Windows-No-Anti-Aliasing.zip)

Also, I realized that it would actually make sense for you to try out the bezier tool, so I built it for you: [bezier_tool.zip](https://github.com/greatest-ape/OctaSine/files/6681940/bezier_tool.zip). If it doesn't look like the scree

[2021-06-21 02:08] bird0912 commented on #10
Excelent!!! I will give it a try :D

[2021-06-29 17:41] unremarkablegarden opened #12 "Microtuning?"
Would it be possible to implement support for microtuning?

[2021-06-30 14:46] alcomposer commented on #12
May I suggest to go straight to scala, possibly using a library like: https://github.com/surge-synthesizer/tuning-library

[2021-06-30 14:50] alcomposer opened #13 "Changing Preset's doesn't load preset"
**Describe the bug**
When editing a patch, and moving to another preset and back again, the GUI changes back to the original patch- but the plugin doesn't load the settings.

**What did you try to do**
Design a patch with OctaSine 001 preset, move to 002 preset, move back to 001, OctaSine doesn't load the settings back

**Expected behavior**
For OctaSine to load the patch not only visually but in

[2021-06-30 20:28] greatest-ape commented on #13
@alcomposer

Thanks!

I've implemented a fix in #14. Could you please checkout branch [preset-fixes](https://github.com/greatest-ape/OctaSine/tree/preset-fixes), build and try again?

[2021-07-01 02:35] alcomposer commented on #13
Tested the preset-fixes and works now.

[2021-07-01 02:35] #13 closed

[2021-07-01 17:53] greatest-ape commented on #12
Yes, that's an interesting idea. I think going for scl/kbm support immediately is a great idea.

A few thoughts:

- Ideally, the master frequency parameter wouldn't have to be disabled for custom tunings. If we use the surge tuning library, we could probably use [frequencyForMidiNoteScaledByMidi0](https://github.com/surge-synthesizer/tuning-library/blob/0ef7dc1f225fc035839223e1784a6a4fe119ee3e/inc

[2021-07-03 08:52] Woyten commented on #12
I wrote a library with full SCL and KBM support. Please try it out: https://github.com/Woyten/tune 😃

[2021-07-03 09:42] Woyten commented on #12
@alcomposer If you are interested in Rust microtunings in general, have a look at my list: https://github.com/Woyten/microtonal-rust

[2021-07-03 09:52] alcomposer commented on #12
It's best to target all use case at once with scala.

Which means:

* Root key note
* Tuning key note
* Tuning key note Hz value

And possibly link both tuning variables, (the one in settings & in main interface).

Alternatively, have all three values on main interface? However I think for 99.9% of the time, having all tuning in a settings dialog would suffice.

We also need to think about publish

[2021-07-08 09:04] grainmagic opened #16 "OctaSine causes ableton to crash when loading it"
**Describe the bug**
Loading OctaSine in ableton makes it crash

**What did you try to do**
Steps to reproduce the behavior:
1. Open Ableton 10.1.35
2. Load OctaSine on an empty midi track
3. Ableton crashes

**Expected behavior**
Ableton doesn't crash and you should be able to access the plugin

**Software (please complete the following information):**
 - OctaSine version 0.5.1
 - DAW Ableton Liv

[2021-07-08 10:35] greatest-ape commented on #16
@grainmagic Thanks!

Could you please try with the attached OctaSine build and see if it solves the problem? I updated the iced/wgpu dependencies to their respective latest versions.
[octasine.dll.zip](https://github.com/greatest-ape/OctaSine/files/6783818/octasine.dll.zip)

[2021-07-08 11:30] grainmagic commented on #16
I tried it out and i'm still getting crashes
[OctaSine.log](https://github.com/greatest-ape/OctaSine/files/6784097/OctaSine.log)
[code]

[2021-07-09 02:38] hansfbaier opened #17 "Mouse pointer offset to real position in Bitwig/Linux (HiDPI display)"
In the editor GUI the mouse location the GUI sees is offset to the
real mouse position

1. Compile on Linux
2. Add plugin in Bitwig
3. Open Plugin window

**Expected behavior**
No offset of mouse pointer to the GUI

**Software (please complete the following information):**
 - OctaSine from git revision 6bd25eeb17917e6262204593c52fc96e189bc0a3
 - Bitwig Studio 3.3.10
 - OS: Ubuntu 20.04.2 LTS

[Oct

[2021-07-09 02:55] hansfbaier opened #18 "Plugin crashes when editor window is closed"
Steps to reproduce the behavior:

1. Compile on Linux
2. Add plugin in Bitwig
3. Open Plugin window
4. Close Plugin window with the window close button of the window border
5. Plugin crashes

**Expected behavior**
No crash on window close

**Software (please complete the following information):**
 - OctaSine from git revision 6bd25eeb17917e6262204593c52fc96e189bc0a3
 - Bitwig Studio 3.3.10
 - OS:

[2021-07-09 18:43] greatest-ape commented on #18
@hansfbaier Thanks!

Could you please try compiling from the [iced-master](https://github.com/greatest-ape/OctaSine/tree/iced-master) branch and see if it works?

[2021-07-09 18:52] greatest-ape commented on #17
@hansfbaier Thanks.

This is likely a bug in [baseview](https://github.com/RustAudio/baseview).

Is the offset constant, or does it change depending on location on the screen? This might help determine if the issue has to do with high DPI.

Also, do you run Wayland or Xorg as display server?

[2021-07-09 18:55] greatest-ape commented on #18
Also, if you haven't, please try installing the latest Vulkan drivers for your graphics card by following this guide: https://guide.nannou.cc/getting_started/platform-specific_setup.html

[2021-07-10 11:21] greatest-ape commented on #16
@grainmagic OK. I'm working on using an OpenGL backend instead of wgpu. Please try out this file:

[OctaSine-Windows-OpenGL.zip](https://github.com/greatest-ape/OctaSine/files/6795131/OctaSine-Windows-OpenGL.zip)

[2021-07-10 11:22] greatest-ape commented on #4
@dromer Could you please try building from this branch? It might fix the GUI issue: https://github.com/greatest-ape/OctaSine/tree/glow

[2021-07-10 13:30] greatest-ape commented on #18
Actually, could you please instead try building and running from this branch: https://github.com/greatest-ape/OctaSine/tree/glow

[2021-07-11 18:33] grainmagic commented on #16
This one works wonderfully!
Thank you so much!

[2021-07-11 18:44] greatest-ape commented on #16
@grainmagic Great! I'll be closing this issue once I create regular OpenGL builds.

Yes, please create a new issue for resizing :-)

[2021-07-13 13:12] grainmagic opened #19 "Window Resizing"
Would it be possible to add a window resizing option? The plugin window can be a little too big for smaller screens.

[2021-07-13 22:37] hansfbaier commented on #17
The offset seems to be constant and I am running Xorg.

[2021-07-13 23:00] hansfbaier commented on #18
The glow branch just displayed a mostly empty window.
the iced-master branch looked good (except the offset problem).
Closing the window did not crash on the iced-master branch.

[2021-07-13 23:01] hansfbaier commented on #18
BTW, my .Xresources file looks like this:
[code]

[2021-07-13 23:06] hansfbaier commented on #18
When I comment out the Xft.dpi like, the offset issue is gone and everything works well.

[2021-07-13 23:07] hansfbaier commented on #17
My .Xresources file looks like this:
[code]
When I comment out the first line, the offset issue disappears, and the GUI works fine.

[2021-07-13 23:19] greatest-ape commented on #17
@hansfbaier Thanks.

Could you please run the open_window example in https://github.com/RustAudio/baseview with`cargo run --example open_window` with and without the Xft.dpi setting? When hovering in the bottom right corner, the mouse coordinates printed to the terminal should be about 500, 500.

[2021-07-13 23:21] greatest-ape commented on #18
@hansfbaier Thanks.

Could you please send a screenshot of how the window looks on the glow branch?

[2021-07-14 09:51] greatest-ape commented on #19
I think window resizing will be too difficult. I could however decrease the size of the window and all components. Would a size like in this screenshot work for you?

![screenshot](https://user-images.githubusercontent.com/17945069/125602177-a070d1af-119e-42f0-88bd-5cb07fcf17f1.png)

[2021-07-14 15:41] grainmagic commented on #19
I think this could work well. I hope it won't be too hard to implement.

[2021-07-15 05:55] hansfbaier commented on #18
![image](https://user-images.githubusercontent.com/148607/125736159-f6dec046-aed1-4335-9bc1-6be7038feb04.png)

[2021-07-15 05:56] hansfbaier commented on #18
Also, after closing that window in the glow branch, the DAW is frozen.

[2021-07-16 20:32] greatest-ape commented on #17
@hansfbaier HiDPI fixes have been pushed to the baseview repo. They are available on latest OctaSine master. Could you please try building and running OctaSine again?

[2021-07-16 20:35] greatest-ape commented on #19
I've made the window smaller (904 x 866 pixels). The changes are on the master branch and will be part of the next release. Do you think this is small enough?

[2021-07-17 16:11] grainmagic commented on #19
Yes!

[2021-07-17 18:53] greatest-ape commented on #19
Ok, great!

[2021-07-17 18:53] #19 closed

[2021-07-24 06:13] KlashKontakt opened #23 "Some problem with graphic interface in Renoise [osx 10.13.6]"
Hello!

If applicable, add screenshots to help explain your problem.

screenshot :
https://disk.yandex.ru/i/mJCTwR2vdD2fww

 - OctaSine version [e.g. 0.5.3].
 - DAW [Renoise 3.3.2]
 - OS: [macOS 10.13.6]

Some problem with graphic

Thnx for your work!

[2021-07-24 06:16] KlashKontakt commented on #23
Octasine.log

                                                                                                                                                                                                                                                                                                                                                     09:02:04 [INFO] init
09:02:04 [INFO] OS: Mac

[2021-08-06 02:13] hansfbaier commented on #17
Still with offset in the DAW:
![image](https://user-images.githubusercontent.com/148607/128445412-9c5d2247-ce34-407d-b1de-0da51a201508.png)
Could it be, because the scaling of the GUI looks much smaller?
when I run target/release/run_gui, then everything works well, but the scaling looks bigger:
![image](https://user-images.githubusercontent.com/148607/128445555-0b421ba0-82d7-45c2-aea9-1cd18fa683a

[2021-08-22 21:26] bhagerty opened #24 "Indicate whether Windows build is 32-bit or 64-bit"
This is not a bug, but the issue tracker won't let me create anything but a bug report. I just suggest indicating whether the Windows build is 64-bit or 32-bit. I assume it's 64-bit, but I'd prefer not to assume.

[2021-08-23 11:10] greatest-ape commented on #24
Hey, thanks. It is indeed a 64-bit build. I updated the website to reflect that. OctaSine actually won't even run on 32-bit CPUs since it uses double precision floats.

[2021-08-23 11:10] #24 closed

[2021-10-12 19:48] mbrowne999 opened #25 "Note off issue"
Nektar Impact GX 25 Mini keyboard is sending note off, but Octasine notes are stuck.

[2021-11-02 19:24] bryc opened #26 "Buffer size issues in FL Studio and Savihost"
Plugin exhibits constant buffer underruns or audible crackles in the audio output.

This can only be fixed in FL Studio by enabling two processing options: **Use fixed size buffers** and **Process maximum size buffers**.  No possible workaround in Savihost.

OS: Win10
DAW: FL Studio 12.5.1

[2021-12-10 02:06] 190n opened #28 "Build fails: "failed to resolve patches for `https://github.com/RustAudio/baseview`""
**Describe the bug**

When I tried to build OctaSine, cargo threw an error having to do with the baseview dependency.

**What did you try to do**

1. Clone the OctaSine repository
2. Attempt to build with `cargo +nightly build --release --features simd -p octasine_vst2_plugin` (building without SIMD fails in the same way)

Cargo output:

[code]

I eventually built baseview myself (using the same f

[2021-12-11 21:18] greatest-ape commented on #28
@190n Could you please pull from master and try again? I just merged some work involving dependency changes.

[2021-12-12 23:14] 190n commented on #28
It works now, thank you! Closing.

[2021-12-12 23:14] #28 closed

[2021-12-15 17:00] #4 closed

[2021-12-15 18:38] dromer commented on #4
Sorry I'll try looking at this again some time. etoomanyprojects :)

[2021-12-16 16:11] greatest-ape commented on #4
No problem :-)

[2021-12-20 21:38] greatest-ape commented on #23
@KlashKontakt Could you please try with the latest release? https://github.com/greatest-ape/OctaSine/releases/tag/v0.5.4

[2021-12-20 21:38] greatest-ape commented on #18
@hansfbaier Could you please try with the latest release? https://github.com/greatest-ape/OctaSine/releases/tag/v0.5.4

[2021-12-20 21:38] greatest-ape commented on #16
@grainmagic Could you please try with the latest release? https://github.com/greatest-ape/OctaSine/releases/tag/v0.5.4

[2021-12-20 21:39] greatest-ape commented on #10
@bird0912 Could you please try with the latest release? https://github.com/greatest-ape/OctaSine/releases/tag/v0.5.4

[2021-12-20 22:22] greatest-ape commented on #26
Thanks. I added a mention of the fix on the official website. Unfortunately, I probably won't have time to have a look at rewriting the buffer logic for a while, though.

[2021-12-20 23:50] hansfbaier commented on #18
That looks much better!
![image](https://user-images.githubusercontent.com/148607/146847652-a56c63b3-4075-46cb-9ea9-45c3ee33b966.png)
Interaction with the GUI widgets works as expected.
Only the window size does not fit yet.
Great work!

[2021-12-20 23:51] hansfbaier commented on #18
Now the plugin does not crash on Window close.
But if I try to open the window a second time, nothing happens.

[2021-12-21 09:40] KlashKontakt opened #30 "Some problem with buffer synchronize"
Greetings!

Thanks for the new release and for the fixes!
In the new version, I noticed some problem with synchronizing notes when the buffer increases. Below are screenshots with the minimum and maximum buffer. Thank you

small buffer
<img width="1305" alt="SNHR_2" src="https://user-images.githubusercontent.com/87890552/146906603-00c905ff-cc84-4a17-8b07-e7b6f936b8ab.png">

big buffer
<img width="

[2021-12-21 11:24] greatest-ape commented on #18
Thanks for checking!

Could you please post the error log from after removing the plugin?

[2021-12-21 11:25] greatest-ape commented on #30
Thanks, this is interesting, I'll have a look.

[2021-12-21 11:46] greatest-ape opened #31 "Theme preference (dark mode) not persisted across sessions"
**Describe the bug**
Theme preference (dark mode) not persisted across sessions

**Software (please complete the following information):**
 - OctaSine version: 0.5.4
 - DAW: Ableton Live 11.1b7
 - OS: Windows

**Log**
[code]

https://www.reddit.com/r/synthesizers/comments/rkyk6j/comment/hpe615y/?utm_source=share&utm_medium=web2x&context=3

[2021-12-21 11:47] greatest-ape commented on #23
@KlashKontakt I saw your other issue, thanks. Was this GUI issue fixed with version 0.5.4?

[2021-12-21 12:05] bird0912 commented on #10
Yes!!! Thanks in advance!

El lun., 20 de diciembre de 2021 3:40 p. m., Joakim Frostegård <
***@***.***> escribió:

[2021-12-21 14:26] bird0912 commented on #10
Excellent! I can see all the fonts! Thank you so much! Just one little
question, how can I resize the plugin? it's a bit small. Thank you again
for the great work :D

El mar, 21 dic 2021 a la(s) 06:05, George Martínez (
***@***.***) escribió:

[2021-12-21 16:59] greatest-ape commented on #10
Great! And thanks for trying it out.

You can't resize it at the moment.. If I make the current size larger, it will be too large for laptop screens. I might add resizing, but it will probably be too difficult to make it work with how I construct the interface.

[2021-12-21 16:59] #10 closed

[2021-12-21 17:04] greatest-ape commented on #23
I'm closing this issue since it seems like the issue was resolved.

[2021-12-21 17:04] #23 closed

[2021-12-21 17:05] greatest-ape commented on #16
I'm closing this since the build now defaults to glow (and wgpu dependency was updated if I were to decide to use it again).

[2021-12-21 17:05] #16 closed

[2021-12-22 23:39] hellocatfood opened #32 "/tmp directory created on plugin launch"
**Describe the bug**
When the plugin is launched a /tmp folder is created in my home folder (`/home/user`). Inside the folder is a file called `OctaSine.log` which contains only the following:

[code]

**What did you try to do**
Steps to reproduce the behavior:
1. Open Ardour or Carla
2. Add the Octasine plugin

**Expected behavior**
I didn't expect to see a folder created, especially not in the h

[2021-12-22 23:40] hellocatfood commented on #32
So in filling out this bug report I see that the tmp folder being created is by design! Closing this now

[2021-12-28 22:48] napcode opened #33 "0.5.4 crashes when running on Wayland"
**Describe the bug**
0.5.4 crashes when running on Wayland (gnome-shell, ArchLinux) but works when running gnome-shell via X11.

**What did you try to do**
Steps to reproduce the behavior:
1. Build debug or release
2. run_gui

**Expected behavior**
GUI shows up.

**Backtrace***
[code]

[2022-01-02 10:44] greatest-ape commented on #30
@KlashKontakt what are the sizes of the small/big buffers?

[2022-01-06 11:26] greatest-ape commented on #33
Thanks.

Wayland currently isn’t supported, because it’s not supported by https://github.com/RustAudio/baseview. I should probably mention this somewhere.

[2022-01-08 16:33] greatest-ape commented on #30
@KlashKontakt Latest version 0.6.0 should have fixed this issue. Could you please try it out?

[2022-01-08 16:33] greatest-ape commented on #26
@bryc Latest version 0.6.0 should have fixed this issue. Could you please try it out?

[2022-01-08 16:33] greatest-ape commented on #25
@mbrowne999 Latest version 0.6.0 should have fixed this issue. Could you please try it out?

[2022-01-09 11:37] bryc commented on #26
Yep, confirmed to be fixed in FL Studio 12/20 now.

[2022-01-09 11:37] #26 closed

[2022-01-11 23:03] mbrowne999 commented on #25
Works great.  Thanks for letting me know.  I like the minimal interface and sound abilities!
-mb

    On Saturday, January 8, 2022, 08:33:59 AM PST, Joakim Frostegård ***@***.***> wrote:

@mbrowne999 Latest version 0.6.0 should have fixed this issue. Could you please try it out?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile fo

[2022-01-12 09:02] #25 closed

[2022-01-13 11:30] KlashKontakt commented on #30
Hello!!!! BIG THNX!!!! Working good!   Testing testing testing!!!!!  Have nice day! Alexey! 08.01.2022, 19:33, "Joakim Frostegård" ***@***.******@***.*** Latest version 0.6.0 should have fixed this issue. Could you please try it out?—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile for iOS or Android.You are receiving this because yo

[2022-01-13 11:32] KlashKontakt commented on #30
new  version 0.6 working good thnx!!!!

[2022-01-13 11:33] greatest-ape commented on #30
Great! And thanks for reporting the bug.

[2022-01-13 11:33] #30 closed

[2022-01-13 11:34] greatest-ape commented on #25
Great! And thanks.

[2022-01-13 20:17] greatest-ape commented on #26
Great, thanks!

And nice track.

[2022-01-15 10:01] bryc opened #40 "LFO does not work like a typical LFO"
In most synths, as the amount is increased, it is applied in both directions equally and linearly. In OctaSine, it only goes in one direction at a time, and it appears to increase exponentially.

I feel this is going to throw people off; I've personally never encountered an LFO working like this before.

A vibrato or tremolo, or other traditional LFO effect requires the same amount to be applied i

[2022-01-15 11:31] bryc opened #41 "Plugin window cut off on laptop screen"
![image](https://user-images.githubusercontent.com/1408749/149620096-e688dfa6-6332-43c4-9c3c-0794ba937c96.png)

Some of the plugin gets cut off on a 1366x768 resolution in FL Studio (A common laptop/netbook resolution).

Potential suggestions:

- Move Master Volume/Freq to top area (beside Mode/Info)
- Move the FM Matrix up a bit, around where the Master text would be
- Swap LFO title text fields

[2022-02-03 03:13] 24t2t2t24 opened #43 "help with downloading"
Hi, I tried to follow the instructions and follow the terminal part. I put In my password, which I know, but it keeps saying sorry, try again what do I do please let me know

[2022-02-03 09:50] greatest-ape commented on #43
Hello @24t2t2t24,

Are you on macOS?

[2022-02-03 10:48] greatest-ape commented on #40
@bryc Those are all good points.

What do you think of this?

[OctaSine-tmp-2022-02-03-Windows.zip](https://github.com/greatest-ape/OctaSine/files/7993816/OctaSine-tmp-2022-02-03-Windows.zip)
[OctaSine-tmp-2022-02-03-macOS-Intel.zip](https://github.com/greatest-ape/OctaSine/files/7993817/OctaSine-tmp-2022-02-03-macOS-Intel.zip)

[2022-02-03 15:29] 24t2t2t24 commented on #43
yes

[2022-02-03 15:56] greatest-ape commented on #43
@24t2t2t24 OK. Is your user an admin user?

[2022-02-07 12:14] bryc commented on #40
Sorry for the late reply, having a look now!

First, I loaded up my old project, and my presets now seem very broken with this one. The envelope attack rate is much slower and feels less punchy. If you didn't change any of that, it could be a new problem.

As for the LFO, I can now hear it going in both directions. But the LFO depth still sounds exponential instead of linear. The extremes of the w

[2022-02-21 17:13] greatest-ape commented on #40
@bryc Thanks for trying out the changes!

Quite a few things were changed in version 0.6, including things that can affect how patches sound, so if you used an older version, you might have been affected. Also, since I'm completely reworking LFOs for this issue, old patches will risk will sound differently. It's pretty difficult (and in some cases impossible) to attempt to make patches sound the s

[2022-02-22 07:23] bryc commented on #40
What I meant was, I did use 0.6 in my project, and when I tested [OctaSine-tmp-2022-02-03-Windows.zip](https://github.com/greatest-ape/OctaSine/files/7993816/OctaSine-tmp-2022-02-03-Windows.zip), it caused the issues I described when I loaded that same project.

Oddly enough, [OctaSine-tmp-2022-02-21](https://github.com/greatest-ape/OctaSine/files/8111027/OctaSine-tmp-2022-02-21-Windows.zip) doesn

[2022-02-22 07:48] #40 closed

[2022-02-23 11:46] greatest-ape commented on #40
Great! Thanks for your help.

[2022-02-23 17:35] bryc opened #45 "Various suggestions/feedback"
This might be better suited for Discussions tab (if it were enabled in this Repo).

Playing with OctaSine more, I see a lot of potential, and I have a whole bunch of suggestions/thoughts/ideas. Maybe some are good. Apologies if its overwhelming :)

## Mode for  relative pitches

A way to use "Octave" and "Semitone" instead of "Ratio" and "Free", maybe a lock switch like this:
![image](https://user

[2022-03-22 18:49] #43 closed

[2022-04-08 13:35] greatest-ape commented on #45
Lots of suggestions! :D

I've done some changes to routing to make it more intuitive and to address some of your points:
- Set modulation index (mod out) in modulator, not carrier
- Increase range of feedback parameter to match modulation index
- Remove volume parameter
- Replace additive factor with mix out parameter, which doesn't
affect modulation output
- Add per-operator modulation target pic

[2022-04-28 12:16] greatest-ape commented on #45
I've done a lot more changes. If you're still interested in trying them out, please tell me, and I'll upload a more recent build.

[2022-04-28 12:17] greatest-ape commented on #33
I'm closing this until Wayland support is added to baseview.

[2022-04-28 12:17] #33 closed

[2022-04-28 18:01] greatest-ape commented on #31
I'm not able to reproduce this myself. If someone else encounters this bug, please reopen the issue.

[2022-04-28 18:01] #31 closed

[2022-04-28 18:51] bryc commented on #45
Sinehow I completely missed the previous message, sorry about that. Happy to give it a test today or tomorrow. 😃

[2022-04-28 19:07] greatest-ape commented on #45
Alright, nice! Here are some fresh builds:

[OctaSine-tmp-2022-04-28-Windows.zip](https://github.com/greatest-ape/OctaSine/files/8585652/OctaSine-tmp-2022-04-28-Windows.zip)
[OctaSine-tmp-2022-04-28-macOS-Intel.zip](https://github.com/greatest-ape/OctaSine/files/8585654/OctaSine-tmp-2022-04-28-macOS-Intel.zip)

[2022-04-29 16:06] bryc commented on #45
Hmm, it won't load in FL Studio now. Same thing with the earlier build. 😢  It validates fine when scanning, but loading the GUI fails. Seems to make sounds still though, and the manual parameter list is accessible.

![image](https://user-images.githubusercontent.com/1408749/165981857-74cc3507-a089-438e-9c74-24cd2c8d67d7.png)

[2022-05-02 17:57] bryc commented on #45
Hm, no. I only see this:

C:\Users\bryc\AppData\Roaming\OctaSine\OctaSine.json

[2022-05-03 09:32] greatest-ape commented on #45
OK! How about when using this build? The log file should now appear in the same folder as OctaSine.json.

[OctaSine-tmp-2022-05-03-Windows.zip](https://github.com/greatest-ape/OctaSine/files/8609605/OctaSine-tmp-2022-05-03-Windows.zip)
[OctaSine-tmp-2022-05-03-macOS-Intel.zip](https://github.com/greatest-ape/OctaSine/files/8609607/OctaSine-tmp-2022-05-03-macOS-Intel.zip)

[2022-05-03 20:22] bryc commented on #45
Unfortunately not with that build either. It could be that the GUI has to initialize first and its just not hitting that code?

It doesn't appear to even create the OctaSine folder or json file. (It must be there from an old version).

[2022-05-03 21:53] greatest-ape commented on #45
OK. The settings file is indeed only saved by the GUI, but the log file should be created when opening the plugin, regardless of the GUI.

Could you please try cloning the git repository and running `cargo run -p run_gui --features glow`? And if the GUI doesn't start, is there any terminal output?

[2022-05-03 22:27] bryc commented on #45
What is Cargo? I don't think I have that? Keep in mind I'm just a JS plebian on Windows who uses GitHub Desktop. I don't really have any compilers or IDEs.  But if it's something that's portable like MinGW or a quick install like Python I could try.

[2022-05-04 19:07] greatest-ape commented on #45
Cargo is the Rust package manager! It should be easy to install from https://rustup.rs/ . Have you run commands in a terminal / on the command line previously?

OK, there is likely an issue with setting up the graphics. When running the command I mentioned, any error logs should be printed to the terminal, so it would be very helpful :-) What version of Windows are you running?

[2022-05-04 22:28] bryc commented on #45
I'm running Windows 10 20H2 (10.0.19042.630).

I'll give the Cargo thing a shot in a bit.  I can use terminals decently, but I just can't compile stuff half the time (requiring every flavor of build environment under the sun, from ruby to cmake to msys1 to msys2, often requiring linux etc, just a pain for a novice)

[2022-05-05 02:07] bryc commented on #45
Here is what that command is giving me:

[code]

I really don't have the space or time to install VS just for this, if I'm reading this right.

[2022-05-05 06:26] greatest-ape commented on #45
Yes, you’re reading that right. Ok, that’s completely understandable.

[2022-05-05 21:15] greatest-ape commented on #45
This build fixed a similar issue for someone else:

[OctaSine-tmp-2022-05-05-Windows.zip](https://github.com/greatest-ape/OctaSine/files/8636075/OctaSine-tmp-2022-05-05-Windows.zip)
[OctaSine-tmp-2022-05-05-macOS-Intel.zip](https://github.com/greatest-ape/OctaSine/files/8636076/OctaSine-tmp-2022-05-05-macOS-Intel.zip)

[2022-05-05 21:42] bryc commented on #45
Alright, that seems to fix the issue. Works now in both Savihost and FL Studio!

![image](https://user-images.githubusercontent.com/1408749/167029933-27fe9cb4-bf74-434b-9774-91cbd1f7fa77.png)

Will update with proper feedback on the weekend.

[2022-05-05 21:50] greatest-ape commented on #45
Great! Thanks.

[2022-05-08 22:46] bryc commented on #45
Hello! Loving the changes, no crashes or issues so far.

The increase in feedback range was a great change, it feels less constrained, like you can now achieve FM sounds you couldn't before. The multiple targets are awesome too, really increases the palette to create complex and gnarly sounds! Muting operators is super helpful for focusing on what specific operators are doing.

The new GUI is much

[2022-05-10 17:37] greatest-ape commented on #45
Great to hear!

I’ve experimented quite a bit with trying to reduce the size, but I haven’t been able to get something that looks as good so far. But it’s a valid point and I’d like it to work well on smaller screens as well.

Thanks for spotting the size offset thing too.

I want to rewrite the envelope widget, but it’s a lot of work and probably won’t land in the next release :-)

Thanks a lot!

[2022-05-28 19:22] hellocatfood commented on #32
Is there any chance that this folder could be moved to a hidden folder i.e. something like `.octasine`?

[2022-05-30 10:33] greatest-ape commented on #32
Yes! In the upcoming release, a different folder will be used (~/.config/octasine on Linux.)

[2022-05-30 11:37] hellocatfood commented on #32
Great, thank you!

[2022-06-16 20:08] bryc commented on #45
I noticed the global volume/pitch control was removed from the LFO target list, are you sure that's a necessary change? That complicates the process of doing a tremolo/vibrato effect as it would require one LFO for each audible operator, and so one loses out on precious LFOs just to ensure vibrato is working for each audible operator.

Building on a previous suggestion: Something that could addres

[2022-06-16 23:57] bryc opened #74 "NoteOff events don't end Decay phase"
**Describe the bug**
The Decay phase of the envelope does not end with a NoteOff event.

**Expected behavior**
A NoteOff event should terminate the Decay phase and immediately begin the Release phase, at its current level.

**What did you try to do**
I created two functionally identical patches ([FXP patches here if needed](https://github.com/greatest-ape/OctaSine/files/8923458/patches.zip)) in Oc

[2022-06-28 14:27] greatest-ape commented on #45
@bryc

Thanks for your feedback!

Removing the LFO master targets might have been premature. I might add them back, if I can do it in a way that doesn’t break existing patches.

When it comes to your LFO concept, it is really cool, but it won’t be VST2 compatible, unfortunately, since the number of possible combinations of targets will be too great to fit in a 32-bit floating point number between

[2022-06-29 08:41] greatest-ape commented on #74
Thanks for the detailed report.

[2022-07-19 09:51] cxbignekoc opened #76 "Dark Theme turn into White Theme when re-open the GUI"
**Describe the bug**

the dark theme switched back into white theme when the interface is re-opened

**What did you try to do**
1. i load the plugin into bitwig 4.0.7
2. click on `theme` it turns in dark mode
3. close/minimize the plugin
4. open the plugin via "show plugin window" from the wrapper
5. the theme is now white

**Expected behavior**
dark theme

**Screenshots**
no

**Software (please c

[2022-07-24 11:25] greatest-ape commented on #76
Thanks, I’ll look into it.

[2022-07-24 21:05] greatest-ape commented on #45
@bryc When setting master volume as a LFO target, do you think modulation should be affected too (like with the operator volume parameters)? I think that probably only post-modulation volume should be affected, but I could implement it either way.

[2022-07-24 21:40] bryc commented on #45
Hmm, IMO it's probably best that it only affect the output gain, and not affect any global operator modulation amounts. Usually a master volume control acts like a mixer track fader (you have a sound, and you either want it quieter or louder), and people will not expect it to alter the brightness of the sound. That sort of variable control is best achieved with velocity sensitivity on a per-note b

[2022-07-24 22:06] greatest-ape commented on #74
@bryc This release should fix the issue. What do you think? Could you please also check what you think of how note off events are now handled during the attack phase?

I've also reintroduced master frequency and volume parameters as lfo targets in this build :-)

[OctaSine-tmp-2022-07-24-macOS-Intel.zip](https://github.com/greatest-ape/OctaSine/files/9176803/OctaSine-tmp-2022-07-24-macOS-Intel.zip

[2022-07-24 22:26] greatest-ape commented on #45
Yeah, I agree.

[2022-07-28 16:45] bryc commented on #74
A bit late, but looks good so far! No issues. Attack phase seems fine, it goes directly to release stage on note off. I think I can close this issue.

[2022-07-28 16:45] #74 closed

[2022-07-28 18:31] bryc commented on #74
Yep, nothing standing out so far, made a nice preset after realizing some of the ratios were perfect fourths/fifths 😄:

https://user-images.githubusercontent.com/1408749/181611295-5f714278-c2a1-4244-aa30-06b7650023d9.mp4

Here's the preset if you want to have a look: [Fourth Wall v07.zip](https://github.com/greatest-ape/OctaSine/files/9213263/Fourth.Wall.v07.zip)

[2022-07-31 13:40] greatest-ape commented on #74
Great!

Sweet patch :-)

[2022-07-31 13:41] greatest-ape commented on #76
@cxbignekoc Does this build solve the issue?

[OctaSine-tmp-2022-07-31-Windows.zip](https://github.com/greatest-ape/OctaSine/files/9228963/OctaSine-tmp-2022-07-31-Windows.zip)

[2022-07-31 13:43] greatest-ape commented on #45
@bryc I'm working on support for exporting/importing patches and patch banks from the GUI, as well as setting values from text. Would you care to try this build out? :-)

[OctaSine-tmp-2022-07-31-macOS-Intel.zip](https://github.com/greatest-ape/OctaSine/files/9228969/OctaSine-tmp-2022-07-31-macOS-Intel.zip)
[OctaSine-tmp-2022-07-31-Windows.zip](https://github.com/greatest-ape/OctaSine/files/922897

[2022-08-01 00:45] bryc commented on #45
Seems to work fine. I'd say "Save bank" instead of "Save all" is less ambiguous/confusing.  You might consider adding a dropdown menu for these options, as it's more scalable too (could add be used for both patch saving, loading scala tuning files if that becomes important, etc). I appreciate the patch name edit ability as some DAWs neglect the option to modify FXP/FXB patch names so I end up usin

[2022-08-01 08:03] greatest-ape commented on #45
Thanks for having a look, and great that it works!

Yes, using a dropdown is a good idea. I want to add actions for clearing the current patch and clearing the whole bank too, and they won’t fit well as buttons.

[2022-08-16 20:35] levyonthecrack opened #82 "OpenGL error on the vst and crashing the daw"
**Describe the bug**
clicking the vst causes ableton to crash.

**What did you try to do**
Steps to reproduce the behavior:
1. go to vsts
2. click on octasine vst

**Expected behavior**
expected the vst to load but nothing happens, it just crashes ableton.

**Screenshots**

**Software:**
 - OctaSine 0.7.0 (4ea0e33) (gl)
 - DAW: Ableton Live Suite 11
 - OS: Windows 10.0.19044

**Log file contents**

[2022-08-17 10:17] greatest-ape commented on #82
Thanks!

Do you know what graphics card you’re using and if you have the latest drivers for it?

[2022-08-17 10:31] levyonthecrack commented on #82
Hey bro! Thanks for answering!

My graphic cards are integrated, its pretty old but ill try to get a better
one next month, the card is a i5 650 3.20ghz

I really want to test your plugin because im a big fan of FM Synthesis and
monomachine, i had a lot of problems involving opengl in the past too, but
i can still have compatibility with other plugins.

Sorry if i said something wrong, english is

[2022-08-17 10:32] levyonthecrack commented on #82
Yes latest drivers too.

Em qua., 17 de ago. de 2022 07:17, Joakim Frostegård <
***@***.***> escreveu:

[2022-08-17 12:35] greatest-ape commented on #82
Ok!

It seems like your iGPU is [this one](https://www.techpowerup.com/gpu-specs/hd-graphics.c2028), which only supports OpenGL 2.1. At least version 3.0 is required for OctaSine because it’s the lowest one supported by [iced_glow](https://docs.rs/iced_glow/latest/iced_glow/), and I don’t foresee this changing, unfortunately :/

[2022-08-17 15:01] levyonthecrack commented on #82
Oh, its okay! ill get a better igpu soon, thanks! :)

[2022-08-17 15:01] #82 closed

[2022-08-23 12:27] greatest-ape commented on #74
I might want to include your patch as a preset. Would you be fine with it, under the AGPL 3.0 license?

[2022-08-23 13:54] bryc commented on #74
Is there some reason they can't be `CC BY-NC-SA 4.0` (which I'd be fine with)? My only concern is that presets posted to sites like Archive.org or AudioBomb usually only allow CC as a license option, since presets and similar media aren't 'code'.

But if AGPLv3 is a requirement, I'd be fine with that too. Just complicates the matter if I had already had it on Archive.org under CC. In general, feel

[2022-08-23 20:36] bryc commented on #45
Looks pretty cool! Reminds me of the waveform display FM7 had:
![image](https://user-images.githubusercontent.com/1408749/186180079-913d9656-134c-415a-86be-96893ff626e6.png)

[2022-08-26 17:10] greatest-ape commented on #45
Thanks! Oh, that's very nice. Having a spectrum is pretty cool too.

I've been working on improving the panning, both for mix and modulation output, fixing a discrepancy between scaling of modulation output and feedback. Would you like to try it out?

[OctaSine-tmp-2022-08-26-Windows.zip](https://github.com/greatest-ape/OctaSine/files/9435011/OctaSine-tmp-2022-08-26-Windows.zip)

[2022-08-27 12:42] kzantow opened #85 "Feature request: shorter envelopes"
**Describe the bug**
The smallest amount one can adjust the envelopes is not small enough for the needs of some percussive sounds. For example, zooming in all the way like like this:
![image](https://user-images.githubusercontent.com/3009477/187030277-eb2069ff-638e-41ac-95b3-e64bb2d6b5ff.png)
With noise yields an audible volume ramp-up, which is not ideal for things like hi-hats, see the correspon

[2022-08-27 13:02] kzantow opened #86 "Feature request: 1-shot LFO retain the end value"
**Describe the bug**
After a 1-shot LFO completes, it appears to send a modulation amount of 0 (or just no longer affect modulation). For example, if one wants to make a kick drum (or other similarly pitched percussive sounds), the only viable option seems to be using LFO with REV SAW. This is ok if you time it such that the entire time of the LFO is shorter than the time of the note. But this bec

[2022-08-27 13:09] kzantow opened #87 "Feature request: operator square waves"
**Describe the feature**
It would be great to have square waves available as an option for the operators. One reason for this is that FM using square waves and feedback can actually make much nicer cymbal sounds than noise - a prime example of this is ride cymbals that have a bit of tonality, but almost all uses of noise can benefit from this method to get brighter noise.

(Also, additionally havi

[2022-08-27 15:42] greatest-ape commented on #85
@kzantow Thanks.

The minimum envelope stage length is currently 10ms, as you indicated. Making it shorter means increasing the risk of appearance of audio artefacts such as clicks, especially when there is an interaction with LFOs.

There might however be a lower value which still enables your use case. I'll try to look into it.

[2022-08-27 16:17] greatest-ape commented on #86
Yes, this would probably make sense.

Thanks!

[2022-08-27 16:24] kzantow commented on #85
Thanks for looking at this! I agree about the possibility of audio artefacts, however when using _noise_ or other high frequency content this generally wouldn't an issue, which is one the main use case for this request.

[2022-08-27 18:09] greatest-ape commented on #85
Sure, that's true. I want to keep using the same envelope logic for both noise and sine modes, though.

I tried changing the min length to 3ms. I also implemented a fix for your other issue, so that oneshot LFOs stay at the end value. I've done some testing and it seems to work fine so far.

Would you mind trying out the changes? There are some other unreleased changes since 0.7 too, so your patch

[2022-08-27 18:35] kzantow commented on #85
I gave this a try -- definitely an improvement for both issues! Able to get a kick drum with a transient like this now:
![image](https://user-images.githubusercontent.com/3009477/187043707-7872acb9-abee-497f-8529-be227d06313d.png)
This opens up a lot better sound design for percussive sounds 👍

[2022-08-27 18:40] greatest-ape commented on #85
Great!

If you have time, it would be great if you could try it out a bit more and see if you encounter any bugs.

[2022-08-27 21:52] kzantow opened #90 "Parameter automation not working in Bitwig"
**Describe the feature**
It appears currently there are no parameters exposed for automation. It would be great to add parameter automation for most parameters, as it makes sense for parameters like like: levels, decay/release times, operator frequencies (selecting LFO shape might not make sense, for example).

In case this is a bug:

**Software (please complete the following information):**
 - Oc

[2022-08-27 22:08] greatest-ape commented on #90
Hmm, all parameters should already be automatable. Automating works for me in a variety of DAWs.

[2022-08-27 22:14] kzantow opened #91 "Clicking and dragging envelope points does not work reliably"
**Describe the bug**
Hovering/clicking points in the envelope does not always work properly. Most times clicking and dragging a point works, but especially in cases where there are multiple close together with overlapping graphics (like a sustain level of 0 and a short release) the UI does not always select the most appropriate point, or any point at all when trying to edit the envelope.

NOTE: th

[2022-08-28 01:36] kzantow commented on #90
I tried this in REAPER and you're right, parameters show up fine there... this seems to be a Bitwig issue (also tried it on my M1 Mac with the same problem). I'll see if I can possibly figure anything out to help/fix. My rust skills are pretty rudimentary, however 😢

[2022-08-28 10:40] greatest-ape commented on #90
That’s weird. I just downloaded the Bitwig demo and the parameters don’t appear to me either.

[2022-08-28 10:41] greatest-ape commented on #85
I’ve merged the changes, so I’m closing the issue :-)

[2022-08-28 10:41] #85 closed

[2022-08-28 10:42] greatest-ape commented on #86
I’ve merged a fix, so I’m closing the issue :-)

[2022-08-28 10:42] #86 closed

[2022-08-28 18:53] bryc commented on #45
Hmm, I don't really notice much of a difference. I'd like to say it feels like modulation is more pronounced when panning, or the overall stereo image sounds better now, but that could be just placebo. Doesn't sound broken at least.

[2022-08-28 20:36] greatest-ape commented on #45
Alright, thanks, that’s useful feedback anyway. And I don’t think it’s placebo ;-)

[2022-08-28 20:37] greatest-ape commented on #87
This is something that I might look into eventually, but not right now.

[2022-08-28 20:39] greatest-ape commented on #76
There’s been an additional fix in 0.8.0, so I’m closing this now.

[2022-08-28 20:39] #76 closed

[2022-08-28 21:00] greatest-ape commented on #74
Ok, nice! Yeah, it would probably be fine. We’ll see if it fits in with some other patches I have planned :-)

[2022-08-28 21:24] bryc commented on #45
https://user-images.githubusercontent.com/1408749/187095046-1a689074-40f9-457b-987a-1bdd718e1546.mp4

Also here's a cool organ preset. feel free to add it as a factory patch if you like :)
[Dusty Organ.zip](https://github.com/greatest-ape/OctaSine/files/9440489/Dusty.Organ.zip)

[2022-09-02 11:44] 6-AND-9 opened #93 "Make it work with Wayland?"
Hi there,

Seems like a great synth but can't use it because it is hung up on X11, which in turn is becoming obsolete quickly. So I'm here to show my support for enabling OctaSine to work on Wayland.

- A

[2022-09-07 16:58] greatest-ape commented on #93
This is blocked on Wayland support in https://github.com/RustAudio/baseview.

[2022-10-19 11:41] hellocatfood opened #112 "Cannot resize plugin window in Carla"
**Describe the bug**
When opening OctaSine 0.8 in Carla (https://github.com/falkTX/Carla ) the plugin window is too small and cannot be resized.

**What did you try to do**
Steps to reproduce the behavior:
1. Open Carla (I'm using 2.6.0-alpha1)
2. Load Octasine
3. Press the cog to open the plugin gui
4. Try to resize the plugin window by double-clicking on the title bar or dragging from corners

*

[2022-10-23 16:06] greatest-ape commented on #112
Thanks.

Resizing the plugin window currently isn’t supported, but the window should obviously not be that small to begin with. This is likely related to the fractional scaling.

[2022-10-29 13:40] SpotlightKid commented on #90
Parameter also does not work in Carla (Manjaro Linux). When I asked its author *falkTX* about it, he said that for each automatable parameter, the "plugin needs to return 1 to effCanBeAutomated opcode".

I don't know enough Rust to check whether that's the case. But it would probably be a good thing to check.

[2022-10-29 15:21] greatest-ape commented on #90
@SpotlightKid Thanks a lot, this helped me solve the issue. There was indeed a bug in the logic telling the host which parameters are automatable. The fix has been merged into master and will be part of the next release.

[2022-10-29 15:21] #90 closed

[2022-10-29 16:52] SpotlightKid commented on #90
An that's why I love open source! :) Thank! Looking forward to the next release.

[2022-10-31 03:59] yurivict opened #117 "Build fails: use of undeclared crate or module `platform`"
[code]

Version: 0.8.1
rust-1.63.0
FreeBSD 13.1 STABLE

[2022-10-31 06:57] greatest-ape commented on #117
Hi,

This is because of the lack of FreeBSD support in baseview that you pointed out here: https://github.com/RustAudio/baseview/issues/91

I don’t know if there are other blockers for BSD support.

[2022-10-31 07:41] yurivict commented on #117
I added the pull request for that issue in baseline.

But now the build fails like this:
[code]

[2022-10-31 08:23] greatest-ape commented on #117
Hmm, yeah, that’s probably because iced_baseview hasn’t been updated to use the very latest baseview yet.

Could you please check if https://github.com/iced-rs/iced even runs on BSD? The repo says it supports “Windows, macOS, Linux, and the Web”.

[2022-10-31 09:00] yurivict commented on #117
Iced example is built fine. It crashes during runtime: https://github.com/iced-rs/iced/issues/1499

[2022-11-04 18:59] jonorozcoc opened #118 "Improve FL Studio automation support"
I just installed the plugin and I tried to automate the controls without any luck. Is there a way to support it?

If that's the case, I can help testing.

[2022-11-05 09:44] greatest-ape commented on #118
It should be supported.. Are you using version 0.8.1? In that case, could you please test with the previous release? https://github.com/greatest-ape/OctaSine/releases/tag/v0.8.0

[2022-11-05 20:54] jonorozcoc commented on #118
I'll check it @greatest-ape

[2022-11-05 21:04] jonorozcoc commented on #118
My bad @greatest-ape, the latest version has automation support, actually. I found the available events.

[2022-11-05 21:05] jonorozcoc commented on #118
Btw, I found some events are treated as knobs instead of triggers

[2022-11-05 21:05] jonorozcoc commented on #118
I'll send a video to show you what I mean

[2022-11-05 21:07] jonorozcoc commented on #118
https://user-images.githubusercontent.com/8442497/200141311-0e15b922-a80e-42a0-977b-506784f005d1.mp4

As you can see in the video I'm toggling the mute button for the LFO4 but it shows as a knob

[2022-11-05 21:07] jonorozcoc commented on #118
https://user-images.githubusercontent.com/8442497/200141340-64b6bd13-cacf-462e-81c7-5dd1d655a955.mp4

I do the same with another plugin and it shows as a toggle

[2022-11-06 00:22] Exink opened #119 "CC64 midi controller not working"
Hi, I'd like to suggest that this plug-in could handle the MIDI CC64 hold controller (or any other foot /sustain controller)), so that we could use it for piano like patches or anything similar. I haven't being able to make it work, that's why I'm opening this issue.

If there's some way to use this feature, please let me know. Otherwise hopefully this could be implemented in future releases.

Tha

[2022-11-06 15:50] greatest-ape commented on #119
No such support is implemented at the moment. Is the concept that while the pedal is pressed down, notes stay on (stay in sustain phase) even if the corresponding keys are no longer pressed?

[2022-11-06 16:01] greatest-ape commented on #118
Thanks for checking and great that it works with 0.8.1.

Is the other thing causing issues when automating or is it just confusing / not pretty? :-) And is the other plugin a vst2 plugin?

[2022-11-06 20:46] Exink commented on #119
Yes, that's supposed to happen, so this concept is more similar to the sustain-pedal of a piano. I don't if other controllers work differently, but indeed once the controller 64 is activated, as lon as it's on, notes should keep playing even if yourelease it. But once is disabled and no more notes playing, there shouldn¡t be any other note playing.

[2022-11-07 03:59] jonorozcoc commented on #118
I think is not intuitive as a switch. The main reason is to avoid intermediate values when automating that can produce misleading effects. Aside that, I don't have any issue with it.

[2022-11-07 04:00] jonorozcoc commented on #118
And yes, it's a VST 2 plugin

[2022-11-07 08:41] greatest-ape commented on #118
Alright, sure, that makes sense.

[2022-11-08 22:55] greatest-ape commented on #119
Could you please try out this build with support added, check if it works and see if there are any issues?

[OctaSine-tmp-2022-11-08-Windows.zip](https://github.com/greatest-ape/OctaSine/files/9965827/OctaSine-tmp-2022-11-08-Windows.zip)
[OctaSine-tmp-2022-11-08-macOS.zip](https://github.com/greatest-ape/OctaSine/files/9965842/OctaSine-tmp-2022-11-08-macOS.zip)
[OctaSine-tmp-2022-11-08-Ubuntu-20_0

[2022-11-08 23:15] Exink commented on #119
That's perfect! I've just tested it on my personal DX7-EP1 patch recreation and it works as intended. Personally I haven't found any issue so far, even after playing various notes at once. Do you need an audio sample?

[2022-11-09 08:39] greatest-ape commented on #119
Thanks, great! No, it’s ok :-)

I’ve merged the fix and it will be included in next release.

[2022-11-09 18:22] Exink commented on #119
Ok, thanks a lot! Looking forward to the next one :).

[2022-11-14 18:23] SpotlightKid opened #122 "FR: Pitch bend support?"
Is it correct, that this synth currently does not have support for pitch bend? If so, that is really a pity, because it really sounds great, but having no pitch bend makes it much less useful for expressive lead and bass sounds.

It would be great to see that added, preferably with a configurable pitch bend range, even better with seperate up/down amounts.

I tried working around the lack of pitch

[2022-11-19 15:35] greatest-ape commented on #122
Yeah, this is a good idea.

[2022-11-28 00:42] bryc commented on #118
That's how VST parameters work in FL Studio or in general. They're basically a decimal between 0 and 1 and developers typically define thresholds to implement toggle buttons.  It's always been this way, in fact, the very first VST made (Neon) has a 'octave' selector with a hidden option only available my manually adjusting the raw parameter in the way you're doing it.

So it's a non-issue.

The re

[2022-11-28 18:48] greatest-ape commented on #118
Hmm yeah, we’re not going to get snapping widgets in DAWs, and I don’t think it’s a good idea to try to automate parameters when they’re set. So I’m closing this issue.

[2022-11-28 18:48] #118 closed